button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}

h3{
  padding: 0;
  font-size: 20px;
  color: white;
}

.outline{
  padding: 10px;
  outline: 8px ridge white;
  border-radius: 2rem;
}

input{
  color: white;
}

label{
  color: white;
  font-size: 15px;
}

.div_center{
    text-align: center;
}

p, h2{
  color: white;
}


.small{
    /*width: 100%;*/
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* SLIDER */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  width: 60%;
  height: 100%;
  position: relative;
  margin: auto;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  text-align: center;
  color: white;
  font-size: 22px;
}

.numbertext2 {
  text-align: center;
  color: white;
  font-size: 17px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Três colunas iniciais na primeira linha do site */
.column {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 100%;
  padding: 1%;
}

.column2 {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Keys teclado design */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: #b7ad9b;
  border: 1rem solid #857e71;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.1s;
}

.key::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 90%;
  height: 90%;
  border: 1rem solid #d9ccbc;
  border-radius: 2rem;
}

.key:active {
  box-shadow: inset 0 -10rem 7rem #857e71;
}

.key:active .text {
  width: 11rem;
  height: 11rem;
  font-size: 9rem;
}

.key:active .text {
  width: 11rem;
  height: 11rem;
  font-size: 9rem;
  box-shadow: 0 -10rem 10rem 3rem #f6e5d6,
  inset 0rem 1rem 2rem #baaf9e;
}

.key .text {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  font-size: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b2735;
  background-color: #eee0ce;
  border: 1.5rem solid #f6e5d6;
  border-radius: 3rem;
  box-shadow: 
    0 -10rem 10rem 3rem #f6e5d6,
    inset 0rem -0.8rem 2rem #baaf9e;
  transition: 0.1s;
  -webkit-user-select:      none;
     -moz-user-select: -moz-none;
          user-select:      none;
   -khtml-user-select:      none;
       -o-user-select:      none;
}

/*angle-shadow*/
.angle-shadow {
  position: absolute;
}

.angle-shadow.top-section {
  top: 3rem;
  width: 7rem;
  height: 0.5rem;
  background-color: #f6e5d6;
  box-shadow: 0 0 1rem #f6e5d6;
}

.angle-shadow.bottom-section {
  bottom: 0rem;
  border-right: 1rem solid transparent;
  border-bottom: 9rem solid #dfd2bf;
  border-left: 1rem solid transparent;
}

.angle-shadow.left-top {
  left: 0.5rem;
  transform: rotate(36deg);
}

.angle-shadow.right-top {
  right: 0.5rem;
  transform: rotate(-36deg);
}

.angle-shadow.left-bottom {
  left: 2.5rem;
  transform: rotate(30deg);
}

.angle-shadow.right-bottom {
  right: 2.5rem;
  transform: rotate(-30deg);
}


html {
  height: 100%;
  /*overflow: hidden;*/
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

.hidden{
  display: none;
}